.buttons {
    display: flex;
    gap: 10px;
    margin: 20px 5px;
}

.button {
    background-color: var(--accent);
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--dark-accent);
}

.button.selected {
    background-color: var(--dark-accent);
}
