.gameContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    width: 90%;
    height: 85%;
    margin: auto 0;
}

.code {
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.nickname {
    font-weight: normal;
    text-align: center;
    font-size: 25px;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid var(--accent);
    padding: 0;
    margin-top: 20px;
}

.mainContainer {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.buzzContainer {
    flex: 1;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.buzzerContainer {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzzerCheckContainer {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
