:root {
    --bg: #333333;
    --accent: #ff7b00;
    --text: #ffffff;
    --off-white: rgba(234, 233, 233, 0.95);
    --dark-accent: #ef7402;
    --light-bg: #515151;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
    min-width: 1230px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.8;
    background-image: radial-gradient(var(--accent) 0.9px, transparent 0.9px),
        radial-gradient(var(--accent) 0.9px, #000000 0.9px);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    z-index: -1;
}

.logo {
    position: absolute;
    left: 40px;
    top: 20px;
    padding: 10px;
    background-color: var(--bg);
    border: 1px solid var(--accent);
    border-radius: 20px;
}

.logo:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px var(--accent);
}